.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  padding: 20px;

  .board {
    position: relative;
    padding: 30px;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: 5px 5px 15px $desert-sand;
    margin: 10px;

    .title {
      display: block;
      border-radius: 5px 5px 0px 0px;
      box-shadow: 0px 2px 5px silver;
      position: absolute;
      width: 100%;
      background-color: $prussian-blue; //$antique-brass;
      color: $honeydew;
      top: 0;
      left: 0;
      padding: 10px;
      font-weight: 700;
      font-size: 25px;
      text-align: center;
      margin-bottom: 30px;
    }
    .board-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 50px;
      font-size: 30px;

      .quiz-title {
        color: $ebony;
        margin-bottom: 20px;
      }

      .reg-box {
        display: flex;
        .input-reg {
          @extend %input-parent;
          font-size: 10px;
          flex-grow: 1;
        }
        .button-reg {
          margin-left: 5px;
          flex-grow: 0;
          @extend %button-parent;
          width: 60px;
          background-color: $ebony;
        }
      }

      .result-area {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 10px 0px;
        .result-message {
          padding: 30px 0px;
          height: 100%;
          flex-grow: 3;
          text-align: center;
          .result {
            text-align: center;
            color: $prussian-blue;
            margin-bottom: 10px;
          }

          .result-blue {
            font-weight: 400;
            color: $celadon-blue;
          }

          .result-red {
            font-weight: 400;
            color: $imperial-red;
          }

          .mission-message {
            font-size: 20px;
            color: $ebony;
          }
        }

        .button-area {
          flex-grow: 1;
          display: flex;
          margin-bottom: 0px;

          .button-area__prev {
            text-align: left;
            flex-grow: 1;
          }
          .button-area__next {
            text-align: right;
            flex-grow: 1;
          }
          button {
            @extend %button-parent;
            width: 120px;
            background-color: $imperial-red;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .main {
    flex-direction: row;
  }
}

@media screen and (max-width: 300px) {
  .main .board {
    padding: 10px;
  }

  .main .board .board-content .reg-box .input-reg {
    font-size: 15px;
  }
}
