.reg-container {
  width: 100%;
  height: 100%;

  .reg-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;

    .reg-header__select {
      flex-grow: 1;

      .whoSelect {
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid $celadon-blue;
      }
    }

    .btn-regist {
      @extend %button-parent;
      background-color: $celadon-blue;
      width: 100px;
    }
  }

  .reg-mode {
    background-color: #eeeeee;
  }
  .quiz-card {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px silver;
    font-size: 20px;

    .quiz-item {
      padding: 5px 0px;
      display: flex;

      .label {
        width: 40px;
        margin-right: 10px;
        color: $imperial-red;
      }

      .content {
        flex-grow: 1;
        color: $prussian-blue;
      }

      input {
        font-size: 18px;
        padding: 5px;
      }
    }
  }

  .quiz-list {
    ul li {
      &:hover {
        background-color: $champagne-pink;
      }
      /* background-color: $honeydew; */
    }
  }
}
.edit-buttons {
  text-align: center;
  margin-top: 5px;

  button {
    @extend %button-parent;
    margin: 0px 10px;
  }
  .btn-modify {
    padding: 5px 20px;
    background-color: $celadon-blue;
  }
  .btn-delete {
    padding: 5px 20px;
    background-color: $imperial-red;
  }
}
